.navbar{
    background-color: white;
    padding: 10px;
    display: flex;
    font-weight: 300
}

.add-btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    
}
