body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
.heading{
    text-align: center;
    margin-top: 20px;
    color: #333;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #444;
}

p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.post {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#user {
    color: #007BFF;
    font-weight: bold;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #FF4D4D;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #FF1A1A;
}

.btn {
    display: inline-block;
    background-color: #28A745;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    margin: 20px auto;
    cursor: pointer;
    text-decoration: none;
}


.btn:hover {
    background-color: #218838;
}